body{
    margin: 0;
    padding: 0;
   /* background-repeat: no-repeat;
    background-position: center center;
    background-size:contain
    ;
    */
}


/*footer*/

footer{
    
    background-color: green;
}
.copyright{
    font-weight: bold;
    color:white;
    font-size: 18px;
}
/*page inscription administrateur*/
form{
    height: 380px;
    text-align: center;
   /* margin-top: 20px;*/
    
    
}
input{
    border-radius: 15px;
    height: 40px;
    width: 250px;
    border: solid 1px black;
    

}
.formulaire{
    margin-top: 20px;
}

.inscrire{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;
    height: 40px;
    width: 120px;
    background-color: green;


}
/*fin inscription et debut authentification*/
.logo{
    height: 100px;
    width: 100px;
    
}
.logo img{
    height: 100%;
    width: 100%;
    
}
.texte h2{
    margin-top: 15px;
}
h2{
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-decoration: underline solid 5px green;    
}
button{
    background-color:green;
    height: 40px;
    width: 110px;
} 
.connecter{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;
    height: 40px;
    width: 120px;
    background-color: green;
    
}
.user{
    text-align: center;
    margin-top: 40px;
    height: 320px;

    
}
.affich{
    height: 10px;
    width: 10px;
}
/*fin authenfication et debut page d'acceuil*/
.acceuil{
    font-weight: bold;
    font-size: 15px;

}
.acceuil a{
    text-decoration: none;
}
.enregistrer{
    height: 50px;
    width: 200px;
    border: solid 1px;
    border-radius: 15px;
    background-color: green;
    padding-top: 5px;
    color: white;
    margin-top: 5rem;

}
.lister{
    height: 50px;
    width: 200px;
    border: solid 1px;
    border-radius: 15px;
    background-color: red;
    padding-top: 5px;
    color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;

}
.ajouter{
    height: 50px;
    width: 200px;
    border: solid 1px;
    border-radius: 15px;
    
    background-color:gray;
    padding-top: 5px;
    color: white;
    margin-top: 0.3rem;
    margin-bottom: 3rem;

}
/*fin acceuil et debut tuteur*/
.valider{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;

}
/*page fiche enregistrement des etudiants*/
.select{
border-radius: 15px;
height: 40px;
width: 250px;
border: solid 1px;
margin-top: 10px;
margin-left: 8rem;
}
.ajout{
    border-radius: 15px;
    margin-top: 10px;
    border: solid 1px;
    color: white;
margin-top: 20px;
}
button a{
    text-decoration: none;
    color: white;
    
}
.valid{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;
  
}
/*listes des etudnats*/
.list{
    border-radius: 15px !important;
    border-color: green;
    color: white;
}


/*fin page liste des etudiants et debut page index */
.tete{
 /* display: flex;  */
 text-align: center;  
}
.entete{
    background-color: green;
}

h1{
    color: white;
    /* background-color: green; */
   
}
.logoimage{
    height: 400px;
    width: 700px;
   

}
.logoimage img{
    height: 100%;
    width: 100%;
    margin-top: 5px;

}
img{
    height: 100%;
    width: 100%;
}
.conta{
    text-align: center;
    
}
.pp1{
display: flex;
text-align: center;
padding-top: 10px;
}
.rowp{
    text-align: center;
}
.pp1 a{
    text-decoration: none;
}
.p1{
background-color: green;
font-weight: bold;
font-size: 15px;
border: solid 1px;
border-radius: 15px;
height: 40px;
width: 100px;
color: white !important;

}
.p2{
    background-color: yellow;
    
    font-weight: bold;
    font-size: 15px;
    border: solid 1px;
    border-radius: 15px;
    height: 40px;
    width: 100px;
    color: white !important; 
    /* margin-left: 20px; */
}

