body{
    margin: 0;
    padding: 0;
   /* background-repeat: no-repeat;
    background-position: center center;
    background-size:contain
    ;
    */
}


/*footer*/

footer{
    
    
    background-color: green;
}
.copyright{
    font-weight: bold;
    color:white;
    font-size: 18px;
}
/*page inscription administrateur*/
form{
    height: 380px;
    text-align: center;
   /* margin-top: 20px;*/
    
    
}
input{
    border-radius: 15px;
    height: 40px;
    width: 250px;
    border: solid 1px black;
    

}
.formulaire{
    margin-top: 20px;
}

.inscrire{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;
    height: 40px;
    width: 120px;
    background-color: green;


}
/*fin inscription et debut authentification*/
.logo{
    height: 150px;
    width: 100px;
    
}
.logo img{
    height: 100%;
    width: 100%;
    
}
.texte h2{
    margin-top: 15px;
}
h2{
    font-size: 25px;
    font-weight: bold;
    color: red;
    text-decoration: underline solid 5px green;    
}
button{
    background-color:green;
    height: 40px;
    width: 110px;
} 
.connecter{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;
    height: 40px;
    width: 120px;
    background-color: green;
    
}
.user{
    text-align: center;
    margin-top: 40px;
    height: 320px;

    
}
.affich{
    height: 10px;
    width: 10px;
}
/*fin authenfication et debut page d'acceuil*/
.acceuil{
    font-weight: bold;
    font-size: 15px;

}
.acceuil a{
    text-decoration: none;
}
.enregistrer{
    height: 50px;
    width: 200px;
    border: solid 1px;
    border-radius: 15px;
    background-color: green;
    padding-top: 5px;
    color: white;
    margin-top: 2.5rem;

}
.lister{
    height: 50px;
    width: 200px;
    border: solid 1px;
    border-radius: 15px;
    background-color: red;
    padding-top: 5px;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 2rem;

}
.ajouter{
    height: 50px;
    width: 200px;
    border: solid 1px;
    border-radius: 15px;
    
    background-color:gray;
    padding-top: 5px;
    color: white;
    margin-top: 0.3rem;
    margin-bottom: 3rem;

}
/*fin acceuil et debut tuteur*/
.valider{
    border-radius: 15px;
    margin-top: 5px;
    border: solid 1px;
    color: white;

}
/*page fiche enregistrement des etudiants*/
.select{
border-radius: 15px;
height: 40px;
width: 250px;
border: solid 1px;
/* margin-top: 7px; */
margin-left: 7rem;
}
.ajout{
    border-radius: 15px;
    margin-top: 10px;
    border: solid 1px;
    color: white;
/* margin-top: 15px; */
}
button a{
    text-decoration: none;
    color: white;

    
}
button a :hover{
    color: yelow;
}
.valid{
    border-radius: 15px;
    /* margin-top: 3px; */
    border: solid 1px;
    color: white;

}
.retour{
    background-color: red;
    border-radius: 15px;
}
/*listes des etudiants*/
.list{
    border-radius: 15px !important;
    border-color: green;
    color: white;
}
.table{
    margin-top: 20px;
    width: 50%;
    height: auto;
    border: solid black 2px !important;
    border-radius: 15px !important;
    text-align: center;
    justify-content: center;
   
}
.element{
    background-color:green;
    color: white;
    
}
.etudiant{
    background-color: red
    ;
    border: solid 1px;
    border-radius: 5px;

}



/*fin page liste des etudiants et debut page index */
.tete{
 /* display: flex;  */
 text-align: center;  
}
.entete{
    background-color: green;
}

h1{
    margin-bottom: 1rem;
    color: white;
    background-color: green;
   
}
.logoimage{
    height: 400px;
    width: 700px;
   

}
.logoimage img{
    height: 100%;
    width: 100%;
    margin-top: 5px;

}
img{
    height: 100%;
    width: 100%;
}
.conta{
    text-align: center;
    
}
.pp1{
display: flex;
text-align: center;
padding-top: 10px;
}
.rowp{
    text-align: center;
}
.pp1 a{
    text-decoration: none;
    color: white;
}
.pp1 a :hover{
    color: yelow;
}
.p1{
    padding-top: 5px;
background-color: green;
font-weight: bold;
font-size: 15px;
border: solid 1px;
border-radius: 15px;
height: 40px;
width: 100px;
color: white !important;

}
.p2{
    background-color: grey;
    padding-top:5px;
    font-weight: bold;
    font-size: 15px;
    border: solid 1px;
    border-radius: 15px;
    height: 40px;
    width: 100px;
    color: white !important; 
    /* margin-left: 20px; */
}
tbody{
    overflow-y: auto;
    overflow-y: auto;
}

